.head {
	background-color: steelblue;
	background: rgd(255,255,0);
	height: 400px;
	max-width: 1900px;
	max-height: 1900px;
	padding: 50px 20px 50px 20px;
	text-align: center;
	background-image: url(../site/art.jpg);
	background-size: 40%;
	background-repeat: no repeat;
	border-radius: 20px;
	color: white;
	text-shadow: #000;
}

body {
	background-color: rgb(106, 110, 145);
}

/*-- BUTTONS --*/
.link-button {
	box-shadow: 0px 15px 20px rgba(54, 58, 56, 0.4);
	cursor: pointer;
	letter-spacing: 1.5px;
	color: #fff;
	width: 200px;
	height: 60px;
	margin: 12px;
	background-color: steelblue;
	border: solid 2px slateblue;
	border-radius: 25px; 
}	

.header-button {
	box-shadow: 0px 4px 12px rgb(8, 4, 4);
	cursor: pointer;
	letter-spacing: 1.0px;
	color: rgb(8, 0, 0);
	padding: 8px 8px;
	bakground-color: slategray;
	border-radius: 20px;
}

/*-- Div Tags ---*/ 
.button-container { 

}

/*-- Pseudo class --*/
.link-button:hover {
	background-color: rgba(0, 77, 243, 0.6);
	transform: translateY(-7px);
}

/*-- Social media link buttons --*/

.fa-instagram {
	background: #007bb5;
	color: white; 
}